.App {
  text-align: center;
  background-color: beige;
}

.cardgrid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 25px;
  padding: 25px;
  margin: 25px;
  height: 450px;
  width: 1000px;
  overflow-y: scroll;
  background-color: rgb(221, 221, 221);
}